<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <a-input title="카테고리">
                        <input type="text" v-model="form.name" placeholder="카테고리 이름" class="base-input" name="name">
                        <span class="input-info error">카테고리 이를을 입력해주세요.</span>
                    </a-input>
                    <div class="settings-footer clearfix">
                        <a @click="modify" href="javascript:;" class="btn btn-yellow">수정</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <postMenu></postMenu>
        </div>
    </div>
</template>

<script lang="babel">
    import api from '~api'
    import { mapGetters } from 'vuex'
    import aInput from '../../components/_input.vue'
    import postMenu from '../../components/post-menu.vue'
    const fetchInitialData = async store => {
        await store.dispatch('post/category/get')
    }
    export default {
        name: 'backend-category-modify',
        components: {
            postMenu,
            aInput
        },
        data() {
            return {
                form: {
                    id: Number(this.$route.params.id),
                    name: '',
                }
            }
        },computed: {
            ...mapGetters({
                item: 'post/category/get'
            })
        },
        methods: {
            async modify() {
                if (!this.form.name) {
                    this.$store.dispatch('global/showMsg', '카테고리 이를을 입력해주세요!')
                    return
                }
                const {data: {status, value}} = await
                api.patch('post/category/' + this.$route.params.id, this.form)
                if (status === 200 && value) {
                    this.$store.dispatch('global/showMsg', {
                        type: 'success',
                        content: '카테고리가 수정되었습니다.'
                    })
                    this.$store.commit('post/category/_update', this.form)
                    this.$router.push('/admin/post/category/list')
                }
            }
        },
        mounted() {
            if (!this.item.id || this.item.path !== this.$route.path) {
                fetchInitialData(this.$store)
            } else {
                this.form.name = this.item.name
            }
        },
        watch: {
            item(val) {
                this.form.name = val.name
            }
        }
    }
</script>
