<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <div class="list-section">
                        <div class="list-title">카테고리 이름</div>
                        <div class="list-action">관리</div>
                    </div>
                    <div v-for="item in category" class="list-section">
                        <div class="list-title">{{ item.name }}</div>
                        <div class="list-action">
                            <router-link :to="'/admin/post/category/modify/' + item.id" class="badge badge-success">수정</router-link>
                            |
                            <a @click="_delete(item.id)" href="javascript:;" class="badge badge-success">삭제</a>
                        </div>
                    </div>
                    <div class="list-section">
                        <div class="list-title"><input type="text" v-model="form.name" placeholder="카테고리 이름" class="base-input" name="name"></div>
					    <div class="list-action">
                            <a @click="insert" href="javascript:;" class="badge badge-success">추가</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <postMenu></postMenu>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
import aInput from '../../components/_input.vue'
import {mapGetters} from 'vuex'
import postMenu from '../../components/post-menu.vue'
const fetchInitialData = async store => {
    if (store.state.post.category.lists.length === 0) store.dispatch('post/category/getList')
}
export default {
    name: 'backend-category-list',
    components: {
        postMenu,
        aInput
    },
    data() {
        return {
            form: {
                name: '',
            }
        }
    },
    computed: {
        ...mapGetters({
            category: 'post/category/getList',
        })
    },
    methods: {
        async insert() {
            if (!this.form.name) {
                this.$store.dispatch('global/showMsg', '카테고리 이를을 입력해주세요!')
                return
            }
            const { data: { status, value} } = await api.post('post/category/' + this.form.name)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '카테고리가 추가되었습니다.'
                })
                this.$store.commit('post/category/_insert', value)
                this.form.name = ""
                this.$router.push('/admin/post/category/list')
            }
        },
        async _delete(id) {
            const {data: {status, value}} = await
                api.delete('post/category/' + id)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '카테고리가 삭제되었습니다.'
                })
                this.$store.commit('post/category/_delete',id)
                this.$router.push('/admin/post/category/list')
            }
        }
    },
    mounted() {
        if (this.category.length <= 0) {
            fetchInitialData(this.$store)
        }
    }
}
</script>
