<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <a-input title="카테고리" :classes="'select-item-wrap'">
                        <i class="icon icon-arrow-down"></i>
                        <select v-model="form.category_id" class="select-item" name="category">
                            <option value="">카테고리를 선택해주세요.</option>
                            <option v-for="item in category" :value="item.id">{{ item.name }}</option>
                        </select>
                        <span class="input-info error">카테고리를 선택해주세요.</span>
                    </a-input>
                    <a-input title="제목">
                        <input type="text" v-model="form.title" placeholder="제목을 입력해주세요." class="base-input" name="title">
                        <span class="input-info error">제목을 입력해주세요.</span>
                    </a-input>
                    <div class="settings-section">
                        <quill-editor ref="postEditor"
                                      v-model="form.content"
                                      :config="editorOption"></quill-editor>
                    </div>
                    <div class="settings-footer clearfix">
                        <a @click="insert" href="javascript:;" class="btn btn-yellow">추가</a>
                    </div>
                    <div class="ql-editor" v-html="form.content"></div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <postMenu></postMenu>
        </div>
    </div>
</template>

<script lang="babel">
import Vue from 'vue'
import VueQuillEditor from 'vue-quill-editor'
import api from '~api'
import { mapGetters } from 'vuex'
import postMenu from '../../components/post-menu.vue'
import aInput from '../../components/_input.vue'
Vue.use(VueQuillEditor)
const fetchInitialData = async store => {
    if (store.state.post.category.lists.length === 0) store.dispatch('post/category/getList')
}
export default {
    name: 'backend-article-insert',
    data() {
        return {
            name: 'post-insert',
            editorOption: {
                placeholder: '내용을 입력해주세요....'
            },
            form: {
                category_id: '',
                title: '',
                content: ''
            }

        }
    },
    components: {
        postMenu,
        aInput
    },
    computed: {
        ...mapGetters({
            category: 'post/category/getList'
        }),
        editor() {
            return this.$refs.postEditor.quillEditor
        }
    },
    methods: {
        async insert() {
            if (!this.form.category_id || !this.form.title || !this.form.content) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            }
            const { data: { status, value} } = await api.post('post/' + this.form.category_id, this.form)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '포스트가 등록되었습니다.'
                })
                this.$store.commit('post/posts/_insert', value)
                this.$router.push('/admin/post/list')
            }
        }
    },
    mounted() {
        if (this.category.length <= 0) {
            fetchInitialData(this.$store)
        }
    }
}
</script>
<style>
    .ql-container .ql-editor {
        min-height: 20em;
        padding-bottom: 1em;
    }
</style>
