<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <div class="list-section list-header">
                        <div class="list-title">제목</div>
                        <div class="list-category">카테고리</div>
                        <div class="list-date">작성 날짜</div>
                        <div class="list-action">관리</div>
                    </div>
                    <div v-for="item in topics.data" class="list-section">
                        <div class="list-title">{{ item.title }}</div>
                        <div class="list-category">{{ item.category_name }}</div>
                        <div class="list-date">{{ item.crt_dt | timeAgo }}</div>
                        <div class="list-action">
                            <router-link :to="'/admin/post/' + item.id" class="badge badge-success">수정</router-link>
                            |
                            <a @click="deletes(item.id)" href="javascript:;">삭제</a>
                            <router-link v-if="item.comment_count > 0" :to="'/backend/article/comment/' + item._id" class="badge badge-success">댓글</router-link>
                        </div>
                    </div>
                </div>
                <div v-if="topics.hasNext" class="settings-footer clearfix">
                    <a @click="loadMore()" class="admin-load-more" href="javascript:;">더보기</a>
                </div>
            </div>
        </div>
        <div class="main-right">
            <postMenu></postMenu>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
import { mapGetters } from 'vuex'
import postMenu from '../../components/post-menu.vue'
const fetchInitialData = async (store, config = { page: 0}) => {
    await store.dispatch('post/posts/get', config)
}
export default {
    name: 'backend-article-list',
    computed: {
        ...mapGetters({
            topics: 'post/posts/get',
        })
    },
    components: {
        postMenu
    },
    methods: {
        loadMore(page = this.topics.page + 1) {
            fetchInitialData(this.$store, {page})
        },
        async deletes(id) {
            const { data: { status, value} } = await api.delete('post/' + id)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '포스트가 삭제되었습니다.'
                })
                this.$store.commit('post/posts/_delete', value.id)
            }
        }
    },
    mounted() {
        if (this.topics.data.length <= 0) {
            fetchInitialData(this.$store)
        }
    }
}
</script>
