<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <template v-if="!article.isLoad">
                        <div class="card card-answer">
                            <div class="answer-content">로딩중 잠시만 기다려주세요.</div>
                        </div>
                    </template>
                    <template v-else-if="article.value.id">
                        <a-input title="카테고리" :classes="'select-item-wrap'">
                            <i class="icon icon-arrow-down"></i>
                            <select v-model="article.value.category_id" class="select-item" name="category">
                                <option value="">카테고리를 선택해주세요.</option>
                                <option v-for="item in category" :value="item.id">{{ item.name }}</option>
                            </select>
                            <span class="input-info error">카테고리를 선택해주세요.</span>
                        </a-input>
                        <a-input title="제목">
                            <input type="text" v-model="article.value.title" placeholder="제목을 입력해주세요." class="base-input" name="title">
                            <span class="input-info error">제목을 입력해주세요.</span>
                        </a-input>
                        <div class="settings-section">
                            <quill-editor ref="postEditor"
                                          v-model="article.value.html"
                                          :config="editorOption"></quill-editor>
                        </div>
                        <div class="settings-footer clearfix">
                            <router-link to="/admin/post/list" class="btn btn-blue">취소</router-link>
                            <a @click="modify" href="javascript:;" class="btn btn-yellow">수정</a>
                        </div>
                        <div class="ql-editor" v-html="form.content"></div>
                    </template>
                    <template v-else>
                        <div class="card card-answer">
                            <div class="answer-content">이 포스트는 존재하지 않거나 삭제되었습니다.</div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="main-right">
            <postMenu></postMenu>
        </div>
    </div>
</template>

<script lang="babel">
import Vue from 'vue'
import VueQuillEditor from 'vue-quill-editor'
import api from '~api'
import { mapGetters } from 'vuex'
import postMenu from '../../components/post-menu.vue'
import aInput from '../../components/_input.vue'
Vue.use(VueQuillEditor)
const fetchInitialData = async store => {
    if (store.state.post.category.lists.length === 0) store.dispatch('post/category/getList')
    await store.dispatch(`post/get`)
}
export default {
    name: 'backend-article-modify',
    prefetch: fetchInitialData,
    data() {
        return {
            name: 'post-modify',
            editorOption: {
                placeholder: '내용을 입력해주세요....'
            },
            form: {
                category_id: '',
                title: '',
                content: ''
            }
        }
    },
    components: {
        postMenu,
        aInput
    },
    computed: {
        ...mapGetters({
            category: 'post/category/getList',
            article : 'post/get'
        }),
        editor() {
            return this.$refs.postEditor.quillEditor
        },
    },
    methods: {
        async modify() {
            if (!this.article.value.category_id || !this.article.value.title || !this.article.value.html) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            }
            this.form.category_id = this.article.value.category_id
            this.form.title = this.article.value.title
            this.form.content = this.article.value.html
            const { data: { status, value} } = await api.patch('post/' + this.$route.params.id, this.form)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '포스트가 수정되었습니다.'
                })
                this.$store.commit('post/posts/_update', value)
                this.$router.push('/admin/post/list')
            }
        }
    },
    mounted() {
        fetchInitialData(this.$store)
    }
}
</script>
<style>
    .ql-container .ql-editor {
        min-height: 20em;
        padding-bottom: 1em;
    }
</style>
