<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="home-feeds cards-wrap">
                <topics-item-none v-if="!topics.path">로딩중, 잠시 기다려주세요...</topics-item-none>
                <template v-else-if="topics.data.length > 0">
                    <topics-item v-for="item in topics.data" :item="item"></topics-item>
                    <div class="load-more-wrap"><a v-if="topics.hasNext" @click="loadMore()" href="javascript:;" class="load-more">더보기<i class="icon icon-circle-loading"></i></a></div>
                </template>
                <topics-item-none v-else>등록된 포스트가 없습니다...</topics-item-none>
            </div>
        </div>
        <div class="main-right">
            <postMenu v-if="admin"></postMenu>
            <category></category>
            <trending></trending>
        </div>
    </div>
</template>
<script lang="babel">
import ls from 'store2'
import { mapGetters } from 'vuex'
import topicsItem from '../../components/topics-item.vue'
import topicsItemNone from '../../components/topics-item-none.vue'
import postMenu from '../../components/post-menu.vue'
import category from '../../components/aside-category.vue'
import trending from '../../components/aside-trending.vue'
import { ssp } from '../../utils'

const fetchInitialData = async (store, config = { page: 0}) => {
    const {params: {category_id, key, by}, path} = store.state.route
    const base = { ...config, size: 10, category_id, key, by }
    await store.dispatch('post/posts/get', base)
    if (config.page === 0) ssp(path)
}

export default {
    name: 'frontend-index',
    prefetch: fetchInitialData,
    components: {
        topicsItem,
        topicsItemNone,
        postMenu,
        category,
        trending
    },
    computed: {
        ...mapGetters({
            topics: 'post/posts/get',
            admin: 'global/isAdmin'
        })
    },
    methods: {
        loadMore(page = this.topics.page + 1) {
            fetchInitialData(this.$store, {page})
        }
    },
    mounted() {
        if (this.topics.data.length <= 0 || this.$route.path !== this.topics.path) {
            fetchInitialData(this.$store, {page: 0})
        } else {
            ssp(this.$route.path)
            this.$store.dispatch('global/gProgress', 100)
        }
    },
    watch: {
        '$route'() {
            fetchInitialData(this.$store, {page: 0})
        }
    },
    beforeRouteLeave(to, from, next) {
        const scrollTop = document.body.scrollTop
        const path = from.path
        if (scrollTop) ls.set(path, scrollTop)
        else ls.remove(path)
        next()
    },
    metaInfo() {
        var title = 'Sky IOT'
        /*const {id, key, by} = this.$route.params
        if (id) {
            const obj = this.category.find(item => item._id === id)
            if (obj) {
                title = obj.cate_name + ' - ' + title
            }
        } else if (key) {
            // title = '搜索: ' + key + ' - ' + title
        } else if (by) {
            // title = '热门 - ' + title
        }*/
        return {
            title,
            meta: [{ vmid: 'description', name: 'description', content: title }]
        }
    }
}
</script>
