<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <template v-if="!article.isLoad">
                <div class="card card-answer">
                    <div class="answer-content">로딩중 잠시만 기다려주세요.</div>
                </div>
            </template>
            <template v-else-if="article.value.id">
                <div class="card card-question-head">
                    <div class="question-content">
                        <router-link :to="'/posts/category/' + article.value.category_id" v-text="article.value.category_name" class="topic-link-item"></router-link>
                        <h2 class="question-title"><router-link :to="'/post/' + article.value.id" v-text="article.value.title" class="question-title-link"></router-link></h2>
                    </div>
                </div>
                <div class="card card-answer">
                    <div class="answer-content">
                        <div class="article-content markdown-body" v-html="addTarget(article.value.html)"></div>
                    </div>
                    <actions :item="article.value"></actions>
                </div>
                <comment :comments="comments"></comment>
            </template>
            <template v-else>
                <div class="card card-answer">
                    <div class="answer-content">이 포스트는 존재하지 않거나 삭제되었습니다.</div>
                </div>
            </template>
        </div>
        <div class="main-right">
            <category></category>
            <trending></trending>
        </div>
    </div>
</template>

<script lang="babel">
import { mapGetters } from 'vuex'
import actions from '../../components/item-actions.vue'
import category from '../../components/aside-category.vue'
import trending from '../../components/aside-trending.vue'
import comment from '../../components/frontend-comment.vue'
const fetchInitialData = async store => {
    store.dispatch(`post/comment/getList`, { page: 0, size: 10})
    await store.dispatch(`post/get`)
}
export default {
    name: 'frontend-article',
    prefetch: fetchInitialData,
    computed: {
        ...mapGetters({
            article: 'post/get',
            comments: 'post/comment/getList'
        })
    },
    components: {
        actions,
        comment,
        category,
        trending
    },
    methods: {
        addTarget(content) {
            if (!content) return ''
            return content.replace(/<a(.*?)href=/g, '<a$1target="_blank" href=')
        }
    },
    mounted() {
        if (this.$route.path !== this.article.path) {
            fetchInitialData(this.$store)
        } else {
            this.$store.dispatch('global/gProgress', 100)
        }
    },
    watch: {
        '$route'() {
            fetchInitialData(this.$store)
        }
    },
    metaInfo () {
        var title = 'Sky IOT'
        if(this.article.value) {
            title = this.article.value.title ? this.article.value.title + ' - Sky IOT' : 'Sky IOT'
        }
        return {
            title,
            meta: [{ vmid: 'description', name: 'description', content: title }]
        }
    }
}
</script>
