/* 清除内外边距 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
/* structural elements 结构元素 */

dl, dt, dd, ul, ol, li,
/* list elements 列表元素 */

pre,
/* text formatting elements 文本格式元素 */

fieldset, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}


/* 设置默认字体 */

body, button, input, select, textarea {
    color: #333;
    outline: none;
	font-family: -apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
	font-size: 16px;
	line-height: 1.6;
	-moz-font-feature-settings: 'kern' 1;
	-o-font-feature-settings: 'kern' 1;
	-webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 20px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/* 重置列表元素 */

ul, ol {
    list-style: none;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:hover {
    text-decoration: none;
}

abbr[title], acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}


/* 重置表单元素 */

legend {
    color: #000;
}


/* for ie6 */

fieldset, img {
    border: none;
}


/* img 搭车：让链接里的 img 无边框 */


/* 注：optgroup 无法扶正 */

button, input, select, textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}


/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 重置 hr */

hr {
    border: none;
    height: 1px;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    position: relative;
    display: block;
}

nav ul, nav ol {
    list-style: none;
}

html {
    background: #ebf0f0;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    /*-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;*/
    color: #3aced5;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}

.grey-link {
    color: #bac1c2;
}

.grey-link:hover {
    color: #818c8c;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.left-part {
    float: left;
}

.right-part {
    float: right;
}

.btn {
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px;
    border-radius: 4px;
}

.btn .icon {
    vertical-align: -2px;
    margin-right: 10px;
}

.btn.disabled {
    background: #e2e9e9;
    color: #818c8c;
}

.btn.disabled:hover {
    background: #e2e9e9;
    color: #818c8c;
}

.btn-yellow {
    background: #eded63;
    color: #7e7e10;
    display: inline-block;
}

.btn-yellow:hover {
    background: #f1f188;
}

.btn-white {
    background: white;
    color: #3e4545;
}

.btn-white:hover {
    opacity: .8;
}

.btn-white-border {
    height: 38px;
    border: 1px solid white;
    color: white;
}

.btn-white-border:hover {
    opacity: .8;
}

.btn-black {
    background: #3e4545;
    color: white;
    display: inline-block;
}

.btn-black:hover {
    background: #515a5a;
}

.btn-blue {
    background: #54d9e0;
    color: white;
    display: inline-block;
}

.btn-blue:hover {
    background: #77e1e6;
}

.main {
    margin-top: 20px;
    padding-bottom: 40px;
}

.main .main-left {
    width: 660px;
    float: left;
}

.main .main-right {
    width: 320px;
    float: left;
    margin-left: 20px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) top;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) top;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.base-input {
    height: 44px;
    padding: 0 14px;
    background: #f4f7f7;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    /*-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;*/
}

.base-input:focus {
    background: #ebf0f0;
    background: #eef2f2;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.02) inset;
}

.card {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    position: relative;
    display: block;
}

.card+.cards-wrap, .card+.card {
    margin-top: 10px;
}

.card-title {
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: 24px;
}

.card-title .card-title-link {
    color: #3e4545;
}

.card-title .card-title-link:hover {
    opacity: .8;
}

.card-title .num {
    letter-spacing: 0;
}

.cards-wrap+.cards-wrap, .cards-wrap+.card {
    margin-top: 10px;
}

.main-hero {
    margin-bottom: 10px;
}

.global-warning {
    background: #293c3d;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    display: none;
}

.global-warning.active {
    display: block;
}

.global-warning:hover {
    color: rgba(255, 255, 255, 0.6);
}

.global-nav {
    height: 60px;
    background: #54d9e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.global-nav .logo-link {
    display: block;
    font-size: 25px;
    color: white;
    line-height: 60px;
    float: left;
    position: relative;
}

.global-nav .logo-link .icon {
    margin-top: 15px;
}

.global-nav .main-nav {
    float: left;
    margin-left: 48px;
}

.global-nav .main-nav .icon {
    vertical-align: -4px;
    margin-right: 12px;
}

.global-nav .nav-link {
    font-size: 18px;
    color: white;
    line-height: 60px;
    padding: 0 24px;
    float: left;
    position: relative;
}

.global-nav .nav-link.current:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 24px;
    right: 24px;
    bottom: 0;
    border-radius: 3px;
    background: #eded63;
}

.global-nav .btn {
    font-weight: bold;
    float: left;
    font-size: 16px;
    margin-top: 10px;
}

.global-nav .nav-signup {
    margin-left: 16px;
}

.global-nav .nav-me {
    margin-left: 10px;
    float: left;
}

.global-nav .nav-me .nav-avatar-img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.nav-search {
    float: left;
    font-size: 0;
    margin-left: 16px;
    position: relative;
}

.nav-search .icon-search-white {
    position: absolute;
    top: 22px;
    left: 14px;
}

.nav-search .nav-search-input {
    width: 180px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    line-height: 16px;
    color: white;
    line-height: 18px;
    height: 40px;
    padding: 0 14px 0 40px;
}

.nav-search .nav-search-input::-webkit-input-placeholder {
    color: white;
}

.nav-search .nav-search-input::-moz-placeholder {
    color: white;
}

.nav-search .nav-search-input:-moz-placeholder {
    color: white;
}

.nav-search .nav-search-input:-ms-input-placeholder {
    color: white;
}

.page-nav {
    height: 60px;
    text-align: center;
}

.page-nav .nav-item {
    line-height: 60px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: normal;
    color: #bac1c2;
    position: relative;
    display: inline-block;
}

.page-nav .nav-item+.nav-item {
    margin-left: 12px;
}

.page-nav .nav-item.current {
    color: #3e4545;
}

.page-nav .nav-item.current:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-radius: 3px;
    background: #54d9e0;
}

.page-nav .nav-item.current .num {
    color: #818c8c;
}

.page-nav .nav-item .num {
    font-size: 15px;
    margin-left: 6px;
    color: #999;
    font-weight: lighter;
}

.feed .feed-content {
    font-size: 15px;
    padding: 25px;
    color: #999;
}

.feed .feed-time {
    float: right;
    font-size: 14px;
}

.feed .feed-minor-link {
    color: #3e4545;
}

.feed .feed-source+.feed-main-link-wrap {
    margin-top: 8px;
}

.feed .feed-main-link-wrap {
    font-size: 0;
}

.feed .feed-main-link {
    font-size: 17px;
    font-weight: bold;
    color: #3aced5;
    line-height: 1.32;
}

.feed .feed-main-link:hover {
    opacity: .8;
}

.feed .feed .feed-main-link-wrap .feed-desc-wrap {
    margin-top: 10px;
}

.feed .feed-article-wrap {
    margin-top: 12px;
    margin-bottom: -4px;
}

.feed.feed-feature {
    height: 240px;
    overflow: hidden;
}

.feed.feed-feature .feed-article-wrap {
    margin-top: 8px;
}

.feed .feed-feature-cover {
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 240px;
    float: left;
    margin-right: 25px;
}

.feed .feed-article-image {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 18px;
}

.feed .feed-article-author+.feed-article-content {
    margin-top: 8px;
}

.feed .feed-article-author-name {
    color: #3e4545;
    font-weight: bold;
    margin-left: 12px;
}

.feed .feed-article-author-bio {
    margin-left: 10px;
}

.feed .feed-article-author-avatar-image {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    vertical-align: -7px;
}

.feed .feed-article-content {
    color: #3e4545;
    line-height: 25px;
    display: block;
    max-height: 125px;
    overflow: hidden;
}

.feed .feed-article-content:hover .feed-view-more-text {
    background: #def8f9;
}

.feed .feed-view-more-text {
    color: #3aced5;
    display: inline-block;
    border-radius: 4px;
    font-size: 15px;
    padding: 0 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.feed .profile-item {
    margin-top: 12px;
}

.feed .profile-item .profile-item-content {
    margin-left: 15px;
    float: left;
}

.btns-wrap {
    font-size: 0;
    width: 444px;
}

.actions-wrap {
    border-top: 1px solid #eef2f2;
    height: 48px;
    font-size: 0;
}

.actions-wrap .action-item {
    width: 25%;
    left: 13%;
    display: inline-block;
    color: #777;
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.actions-wrap .action-item.active {
    color: #3aced5;
}

.actions-wrap .action-item:first-child {
    border-radius: 0 0 0 4px;
}

.actions-wrap .action-item:last-child {
    border-radius: 0 0 4px 0;
}

.actions-wrap .action-item+.action-item:before {
    content: '';
    position: absolute;
    height: 48px;
    top: 0;
    left: 0;
    width: 1px;
    background: -webkit-linear-gradient(rgba(238, 242, 242, 0.4), rgba(238, 242, 242, 0.8)) top;
    background: linear-gradient(rgba(238, 242, 242, 0.4), rgba(238, 242, 242, 0.8)) top;
}

.actions-wrap .action-item:hover {
    opacity: .8;
    background: #fafbfb;
}

.actions-wrap .action-item .icon {
    vertical-align: -2px;
    margin-right: 10px;
}

.actions-wrap .action-item .icon-action-follow, .actions-wrap .action-item .icon-action-follow-active, .actions-wrap .action-item .icon-action-follow-blue {
    vertical-align: -3px;
    margin-right: 9px;
}

.actions-wrap .action-item .icon-action-fav, .actions-wrap .action-item .icon-action-fav-active {
    margin-right: 9px;
}

.actions-wrap .action-item .icon-action-share, .actions-wrap .action-item .icon-action-share-blue {
    vertical-align: -3px;
}

.action-item-voteup .icon-action-voteup-active {
    display: none;
}

.action-item-voteup.active .icon-action-voteup-active {
    display: inline-block;
}

.action-item-voteup.active .icon-action-voteup {
    display: none;
}

.action-item-fav .icon-action-fav-active {
    display: none;
}

.action-item-fav.active .icon-action-fav-active {
    display: inline-block;
}

.action-item-fav.active .icon-action-fav {
    display: none;
}

.action-item-follow .icon-action-follow-active {
    display: none;
}

.action-item-follow.active .icon-action-follow-active {
    display: inline-block;
}

.action-item-follow.active .icon-action-follow {
    display: none;
}

.card-me .side-entry {
    border-top: 1px solid #eef2f2;
    display: block;
    height: 54px;
    line-height: 54px;
    padding: 0 25px;
    color: #3e4545;
    position: relative;
}

.card-me .side-entry.active, .card-me .side-entry:hover {
    color: #3aced5;
}

.card-me .side-entry .icon {
    vertical-align: -2px;
    margin-right: 12px;
}

.card-me .side-entry .icon-entry-invites {
    vertical-align: -3px;
    margin-left: 1px;
}

.card-me .side-entry .icon-entry-people {
    margin-right: 13px;
    margin-left: 3px;
}

.card-question-head .topic-link-item {
    height: 32px;
    line-height: 32px;
    background: #effcfc;
    border: 1px solid #99e8ed;
    color: #3aced5;
    border-radius: 18px;
    padding: 0 12px;
    display: inline-block;
    font-size: 14px;
}

.card-question-head .topic-link-item:hover {
    background: #54d9e0;
    border-color: #54d9e0;
    color: white;
}

.card-question-head .topic-link-item+.question-title {
    margin-top: 10px;
}

.card-question-head .question-content {
    padding: 25px;
}

.card-question-head .question-title {
    font-size: 22px;
}

.card-question-head .question-title-link {
    color: #3aced5;
}

.card-question-head .question-title-link:hover {
    opacity: .8;
}

.card-question-head .question-meta {
    margin-top: 12px;
    font-size: 14px;
    color: #bac1c2;
    display: inline-block;
    line-height: 1;
}

.card-question-head .question-desc {
    margin-top: 8px;
}

.card-question-head .question-actions {
    border-top: 1px solid #eef2f2;
    height: 48px;
    font-size: 0;
}

.card-question-head .action-item {
    color: #3aced5;
}

.card-question-head .dd-wrap {
    position: relative;
    z-index: 1;
}

.card-question-head .dd-wrap:hover {
    opacity: 1;
}

.card-question-head .dd-wrap:hover .dd {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.card-question-head .dd-wrap .dd {
    position: absolute;
    background: white;
    width: 100%;
    top: 0;
    margin-top: 48px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.card-question-head .dd-wrap .dd-item {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-top: 1px solid #eef2f2;
    display: block;
    color: #818c8c;
    font-size: 14px;
}

.card-question-head .dd-wrap .dd-item:hover {
    opacity: .8;
}

.card-answer .answer-content {
    padding: 25px;
}

.card-answer .author-link {
    display: block;
}

.card-answer .author-avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
}

.card-answer .author-name-wrap {
    font-size: 17px;
    color: #3e4545;
    margin-top: -1px;
}

.card-answer .author-name {
    font-weight: bold;
}

.card-answer .author-bio {
    color: #bac1c2;
    margin-left: 12px;
}

.card-answer .voters-info {
    margin-top: 4px;
    color: #818c8c;
    font-size: 15px;
}

.card-answer .voter-item {
    color: #818c8c;
}

.card-answer .voter-item:hover {
    color: #3aced5;
}

.card-answer .follow-btn {
    float: right;
}


/*.card-answer .article-content {
  margin-top: 15px; }*/

.card-answer .article-content p+p, .card-answer .article-content p+img, .card-answer .article-content img+p {
    margin-top: 1em;
}

.card-answer .article-content img {
    max-width: 100%;
}

.card-answer .article-content-meta {
    font-size: 14px;
    color: #bac1c2;
    margin-top: 12px;
    display: inline-block;
}

.card-answer .article-content .about-title {
    padding-bottom: 10px;
    color: #3aced5;
    font-size: 16px;
}

.card-answer .article-content p+.about-title {
    padding-top: 10px;
}

.card-related-questions {
    padding: 25px;
}

.card-related-questions .question-item {
    margin-top: 15px;
}

.card-related-questions .question-title:hover {
    opacity: .8;
}

.card-related-questions .question-meta-item {
    display: inline-block;
    margin-left: 10px;
    color: #bac1c2;
}

.card-related-questions .question-meta-item .icon {
    vertical-align: -2px;
    margin-right: 8px;
}

.card-trending {
    padding: 25px;
}

.card-trending .trending-rank-num {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    background: #54d9e0;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    font-family: Avenir;
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: -34px;
    margin-right: 12px;
    vertical-align: 2px;
}

.card-trending .trending-item {
    padding-left: 34px;
    margin-top: 18px;
}

.card-trending .trending-title {
    font-size: 15px;
    font-weight: bold;
    color: #3e4545;
}

.card-trending .trending-title:hover {
    color: #3aced5;
}

.card-trending .trending-meta {
    margin-top: 8px;
}

.card-trending .trending-meta-item {
    display: inline-block;
    font-size: 14px;
    color: #969f9f;
}

.card-trending .trending-meta-item .icon {
    vertical-align: -2px;
    margin-right: 10px;
}

.card-trending .trending-meta-item+.trending-meta-item {
    margin-left: 12px;
}

.topic-item {
    padding: 20px 25px;
    display: block;
    position: relative;
}

.topic-item+.topic-item {
    border-top: 1px solid #eef2f2;
}

.topic-item:hover .topic-title {
    color: #3aced5;
}

.topic-item .avatar-link {
    float: left;
    margin-right: 12px;
    font-size: 0;
}

.topic-item .avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.topic-item .topic-title {
    font-size: 16px;
    color: #3e4545;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.topic-item .topic-meta {
    font-size: 14px;
    color: #666;
    margin-top: 2px;
}

.icon-arrow-right {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:hover .icon-arrow-right {
    opacity: .6;
}

.search-result-items-wrap .search-keywords {
    color: #ed4656;
}

.card-loading {
    padding: 25px;
}

.card-loading .page-loading-wrap {
    padding: 60px 0;
}

.card-loading .page-loading-symbol {
    margin: 0 auto;
}

.page-loading-symbol {
    width: 160px;
    height: 160px;
    display: block;
    background-repeat: no-repeat;
    background-size: 4800px 160px;
    background-position: left top;
    background-image: url(../images/loading/loading.png);
    -webkit-animation: page-loading 1s steps(30) infinite;
    animation: page-loading 1s steps(30) infinite;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .page-loading-symbol {
        background-image: url(../images/loading/loading@2x.png);
    }
}

@-webkit-keyframes page-loading {
    from {
        background-position: 0px, 0;
    }
    to {
        background-position: -4800px, 0;
    }
}

@keyframes page-loading {
    from {
        background-position: 0px, 0;
    }
    to {
        background-position: -4800px, 0;
    }
}

.load-more-wrap {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.load-more-wrap .load-more {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid #54d9e0;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    letter-spacing: .12em;
    text-indent: .12em;
    font-weight: normal;
    color: #3aced5;
    display: inline-block;
    position: relative;
}

.load-more-wrap .load-more:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    opacity: .8;
}

.load-more-wrap .load-more .icon-circle-loading {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: -2px;
    left: -2px;
}

.load-more-wrap .load-more.loading {
    border-color: transparent;
}

.load-more-wrap .load-more.loading .icon-circle-loading {
    visibility: visible;
    opacity: 1;
    -webkit-animation: circle-loading 1.2s linear infinite;
    animation: circle-loading 1.2s linear infinite;
}

@-webkit-keyframes circle-loading {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes circle-loading {
    from {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    .wrap {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    .main .main-left {
        margin: 0 auto;
        float: none;
    }
    .main .main-right {
        width: 660px;
        float: none;
        margin: 0 auto;
    }
    .main .main-left .card:last-child {
        margin-bottom: 10px;
    }
    .global-nav .main-nav {
        margin-left: 25px;
    }
    .global-nav .main-nav .icon {
        margin-right: 0;
    }
    .global-nav .nav-link {
        font-size: 17px;
    }
    .global-nav .nav-link .text {
        display: none;
    }
    .global-nav .nav-link.current:after {
        left: 10px;
        right: 10px;
    }
}

@media (max-width: 750px) {
    .global-nav .right-part {
        display: none;
    }
}

@media (max-width: 720px) {
    .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
    .card {
        border-radius: 0;
    }
    .main .main-left {
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }
    .main .main-left .card:last-child {
        margin-bottom: 10px;
    }
    .main .main-right {
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }
}

.comments {
    margin-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    border-top: 1px solid #f2f3f4;
}

.comments .comment-post-actions {
    text-align: right;
}

.comment-item .comment-content-wrap, .comment-reply-item, .comments .comment-post-input-wrap {
    margin-left: 55px
}

.comments .comment-post-input-wrap textarea {
    width: 100%;
    padding: 10px 14px;
    height: 88px;
    resize: none;
}

.comments .comment-post-wrap {
    padding-bottom: 20px
}

.comments .comment-post-input {
    width: 100%
}

.comments .comment-author-avatar-link {
    float: left
}

.comments .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left
}

.comment-item .comment-likes-count, .comments .post-comment-btn {
    float: right
}

.comments .cancel-comment {
    float: right;
    color: #b6b6b6;
    line-height: 40px;
    margin-right: 20px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.comments .load-more-wrap {
    padding: 0 0 10px;
    margin-top: 10px
}

.comment-item {
    padding: 18px 0
}

.comment-item:hover .comment-actions-hidden {
    opacity: 1;
    visibility: visible
}

.comment-item .comment-author-wrap {
    line-height: 1;
    display: block;
    margin-top: 1px;
    color: #888
}

.comment-item .comment-content {
    margin-top: 5px
}

.comment-item .comment-footer {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1
}

.comment-item .comment-actions-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.comment-item .comment-action-item {
    color: #888
}

.comment-item .comment-action-item:hover {
    color: #444
}

.comments .load-more-wrap .comments-load-more {
    display: block;
    background: #f3f6f6;
    color: #444;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
}

.settings-main-content {
    padding: 0 24px
}

.settings-section {
    padding: 24px 0
}

.settings-section+.settings-section {
    border-top: 1px solid #f4f4f4
}

.settings-section .settings-section-title {
    font-size: 15px
}

.settings-item .settings-title {
    float: left;
    font-weight: 400;
    font-size: 15px
}

.settings-item.with-input .settings-title {
    line-height: 40px;
    width: 80px
}

.settings-item.single-line {
    padding: 15px 0
}

.settings-item .settings-item-content {
    margin-left: 80px
}

.settings-item .settings-input-wrap-outer+.settings-input-wrap-outer {
    margin-top: 20px
}

.settings-item .settings-input-additional-info {
    font-size: 13px;
    color: #b6b6b6;
    margin-top: 10px
}

.settings-item .setting-notifications-item-title {
    width: 240px;
    display: inline-block
}

.settings-item .radio+.radio, .settings-item .select-wrap+.select-wrap {
    margin-left: 15px
}

.select-item-wrap {
    position: relative;
}

.select-item-wrap .select-item {
    width: 100%;
    line-height: 44px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #e2e9e9;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    padding: 0 14px;
}

.select-item-wrap .icon-arrow-down {
    position: absolute;
    right: 14px;
    top: 20px;
}

.settings-input-wrap {
    position: relative;
    display: block
}

.settings-input-wrap.inline-block {
    display: inline-block
}

.settings-input-wrap+.settings-input-wrap {
    margin-top: 20px
}

.settings-input-wrap+.settings-input-wrap.inline-block {
    margin-left: 15px;
    margin-top: 0
}

.settings-input-wrap .input-info {
    color: #fff;
    background: #444;
    padding: 0 15px;
    line-height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 2;
    margin-left: 15px;
    white-space: nowrap;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    /*-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;*/
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px)
}

.settings-input-wrap .input-info.error {
    background: #EC3A4b
}

.settings-input-wrap .input-info.error:before {
    border-right-color: #EC3A4b
}

.settings-input-wrap .input-info.info {
    background: #EDED63;
    color: #444
}

.settings-input-wrap .input-info.info:before {
    border-right-color: #EDED63
}

.settings-input-wrap .input-info.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.settings-input-wrap .input-info:before {
    content: '';
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -7px;
    height: 0;
    width: 0;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #EC3A4b;
    border-top: 7px solid transparent
}

.settings-input-wrap .base-input {
    width: 100%;
}

.settings-footer {
    padding: 24px;
    border-top: 1px solid #f4f4f4;
    text-align: right;
}

.settings-footer .admin-load-more {
    display: block;
    text-align: center;
}

.settings-input-wrap-center {
    text-align: center;
    display: block
}

.settings-input-wrap-center .login-other {
    display: inline-block;
    width: 26px;
    height: 26px
}

.settings-input-wrap-center .login-other i {
    display: block;
    width: 26px;
    height: 26px
}

.list-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 13px;
}

.list-section.list-header {
    font-size: 15px;
}

.list-section+.list-section {
    border-top: 1px solid #f4f4f4;
}

.list-section .list-title {
    width: 310px;
}

.list-section .list-category {
    width: 100px;
}

.list-section .list-date {
    width: 100px;
}

.list-section .list-action {
    width: 100px;
}

.list-section .list-username {
    width: 120px;
}

.list-section .list-email {
    width: 310px;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    font-size: 0;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    font-size: 0.1px;
    background: black;
    background: rgba(0, 0, 0, 0.72);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-wrap.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
    pointer-events: auto;
}

.modal-wrap.active .modal {
    visibility: visible;
    opacity: 1;
}

.modal-wrap .center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -1px;
}

.modal {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    background: white;
    margin: auto;
    width: 360px;
    border-radius: 12px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}

.modal .modal-prev {
    width: 78px;
    height: 78px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .25;
}

.modal .modal-prev:hover {
    opacity: 1;
}

.modal .modal-prev .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

.modal .modal-close {
    width: 78px;
    height: 78px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .25;
}

.modal .modal-close:hover {
    opacity: 1;
}

.modal .modal-close .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.modal .modal-title {
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    letter-spacing: .2em;
    text-indent: .2em;
}

.modal-signup .signup-form {
    width: 280px;
    margin: 20px auto 10px;
}

.signup-form {
    text-align: center;
}

.signup-form .input-wrap {
    position: relative;
}

.signup-form .input-wrap+.input-wrap {
    margin-top: 18px;
}

.signup-form .input-info {
    color: #bac1c2;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 14px;
    text-align: left;
}

.signup-form .input-info.centered {
    text-align: center;
    margin-left: 0;
}

.signup-form .error-info {
    color: #ed4656;
}

.signup-form .base-input {
    width: 100%;
}

.signup-form .textarea-input {
    padding: 10px 14px;
    height: 88px;
    resize: none;
}

.signup-form .signup-btn {
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-nav-logo {
    width: 109px;
    height: 31px;
    background-image: url(../images/@1x/nav-logo.png);
}

.icon-nav-home {
    width: 24px;
    height: 23px;
    background-image: url(../images/@1x/nav-home.png);
}

.icon-nav-explore {
    width: 23px;
    height: 23px;
    background-image: url(../images/@1x/nav-explore.png);
}

.icon-nav-features {
    width: 23px;
    height: 22px;
    background-image: url(../images/@1x/nav-features.png);
}

.icon-search-white {
    width: 15px;
    height: 15px;
    background-image: url(../images/@1x/search-white.png);
}

.icon-articles {
    width: 12px;
    height: 12px;
    background-image: url(../images/@1x/articles.png);
}

.icon-action-articles {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-articles.png);
}

.icon-action-comment {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-comment.png);
}

.icon-action-fav {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-fav.png);
}

.icon-action-fav-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-fav-active.png);
}

.icon-action-follow {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-follow.png);
}

.icon-action-follow-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-follow-active.png);
}

.icon-action-share {
    width: 14px;
    height: 19px;
    background-image: url(../images/@1x/action-share.png);
}

.icon-action-voteup {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-voteup.png);
}

.icon-action-voteup-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-voteup-active.png);
}

.icon-arrow-right {
    width: 7px;
    height: 12px;
    background-image: url(../images/@1x/arrow-right.png);
}

.icon-arrow-right-circle-green {
    width: 14px;
    height: 14px;
    background-image: url(../images/@1x/arrow-right-circle-green.png);
}

.icon-close-white {
    width: 15px;
    height: 15px;
    background-image: url(../images/@1x/close-white.png);
}

.icon-close-black {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/close-black.png);
}

.icon-prev-black {
    width: 20px;
    height: 19px;
    background-image: url(../images/@1x/prev-black.png);
}

.icon-circle-loading {
    width: 100px;
    height: 100px;
    background-image: url(../images/@1x/circle-loading.png);
}

.icon-entry-people {
    width: 13px;
    height: 16px;
    background-image: url(../images/@1x/entry-people.png);
}

.icon-articles {
    width: 12px;
    height: 12px;
    background-image: url(../images/@1x/articles.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .icon-nav-logo {
        background-image: url(../images/@2x/nav-logo.png);
    }
    .icon-nav-home {
        background-image: url(../images/@2x/nav-home.png);
    }
    .icon-nav-explore {
        background-image: url(../images/@2x/nav-explore.png);
    }
    .icon-nav-features {
        background-image: url(../images/@2x/nav-features.png);
    }
    .icon-search-white {
        background-image: url(../images/@2x/search-white.png);
    }
    .icon-articles {
        background-image: url(../images/@2x/articles.png);
    }
    .icon-action-articles {
        background-image: url(../images/@2x/action-articles.png);
    }
    .icon-action-comment {
        background-image: url(../images/@2x/action-comment.png);
    }
    .icon-action-fav {
        background-image: url(../images/@2x/action-fav.png);
    }
    .icon-action-fav-active {
        background-image: url(../images/@2x/action-fav-active.png);
    }
    .icon-action-follow {
        background-image: url(../images/@2x/action-follow.png);
    }
    .icon-action-follow-active {
        background-image: url(../images/@2x/action-follow-active.png);
    }
    .icon-action-share {
        background-image: url(../images/@2x/action-share.png);
    }
    .icon-action-voteup {
        background-image: url(../images/@2x/action-voteup.png);
    }
    .icon-action-voteup-active {
        background-image: url(../images/@2x/action-voteup-active.png);
    }
    .icon-arrow-right {
        background-image: url(../images/@2x/arrow-right.png);
    }
    .icon-arrow-right-circle-green {
        background-image: url(../images/@2x/arrow-right-circle-green.png);
    }
    .icon-close-white {
        background-image: url(../images/@2x/close-white.png);
    }
    .icon-close-black {
        background-image: url(../images/@2x/close-black.png);
    }
    .icon-prev-black {
        background-image: url(../images/@2x/prev-black.png);
    }
    .icon-arrow-down {
        background-image: url(../images/@2x/arrow-down.png);
    }
    .icon-circle-loading {
        background-image: url(../images/@2x/circle-loading.png);
    }
    .icon-entry-people {
        background-image: url(../images/@2x/entry-people.png);
    }
    .icon-articles {
        background-image: url(../images/@2x/articles.png);
    }
}
/* fix */
.editormd {
    z-index: 2;
}
.editormd, .editormd .CodeMirror {
    border-radius: 5px;
}
.editormd.editormd-fullscreen, .editormd.editormd-fullscreen .CodeMirror {
    border-radius: 0;
}
