<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="home-feeds cards-wrap">
                <div class="settings-main card">
                    <div class="settings-main-content">
                        <a-input title="별명">
                            <input type="text" v-model="form.username" placeholder="별명" class="base-input" name="username" disabled>
                            <span class="input-info error">별명</span>
                        </a-input>
                        <a-input title="이메일">
                            <input type="text" v-model="form.email" placeholder="이메일" class="base-input" name="email" disabled>
                            <span class="input-info error">이메일</span>
                        </a-input>
                    </div>
                    <!-- <div class="settings-footer clearfix">
                        <a href="javascript:;" class="btn btn-blue">保存设置</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="main-right">
            <account></account>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
import account from '../../components/aside-account.vue'
import aInput from '../../components/_input.vue'
export default {
    data() {
        return {
            form: {
                username: '',
                email: ''
            }
        }
    },
    components: {
        account,
        aInput
    },
    methods: {
        async getUser() {
            const { data: { status, value} } = await api.get('user')
            if (status === 200 && value) {
                this.form.username = value.nickname
                this.form.email = value.email
            }
        }
    },
    mounted() {
        this.getUser()
    },
    metaInfo () {
        return {
            title: 'Sky IOT',
            meta: [{ vmid: 'description', name: 'description', content: 'Sky IOT' }]
        }
    }
}
</script>
