<template>
    <div class="settings-main card">
        <div class="settings-main-content">
            <a-input title="별명">
                <input type="text" v-model="form.username" placeholder="별명" class="base-input" name="username">
                <span class="input-info error">별명을 입력해주세요.</span>
            </a-input>
            <a-input title="이메일">
                <input type="text" v-model="form.email" placeholder="이메일" class="base-input" name="email">
                <span class="input-info error">이메일을 입력해주세요.</span>
            </a-input>
            <a-input title="비밀번호">
                <input type="password" v-model="form.password" placeholder="비밀번호" class="base-input" name="password">
                <span class="input-info error">비밀번호를 입력해주세요.</span>
            </a-input>
        </div>
        <div class="settings-footer clearfix">
            <router-link to="/backend/user/list" class="btn btn-blue">취소</router-link>
            <a @click="modify" href="javascript:;" class="btn btn-yellow">수정</a>
        </div>
    </div>
</template>

<script lang="babel">
import { mapGetters } from 'vuex'
import api from '~api'
import aInput from '~components/_input.vue'
const fetchInitialData = async store => {
    await store.dispatch('user/getUserItem')
}
export default {
    data() {
        return {
            form: {
                id: this.$route.params.id,
                username: '',
                email: '',
                password: ''
            }
        }
    },
    components: {
        aInput
    },
    computed: {
        ...mapGetters({
            item: 'user/getUserItem'
        })
    },
    methods: {
        async modify() {
            if (!this.form.username || !this.form.password || !this.form.email) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            }
            const { data: { message, code} } = await api.post('backend/user/modify', this.form)
            if (code === 200) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: message
                })
                this.$store.commit('user/updateUserItem', this.form)
                this.$router.push('/backend/user/list')
            }
        }
    },
    mounted() {
        if (!this.item.path !== this.$route.path) {
            fetchInitialData(this.$store)
        } else {
            this.form.username = this.item.data.username
            this.form.email = this.item.data.email
        }
    },
    watch: {
        item(val) {
            this.form.username = val.data.username
            this.form.email = val.data.email
        }
    }
}
</script>
