<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="home-feeds cards-wrap">
                <div class="settings-main card">
                    <div class="settings-main-content">
                        <a-input title="현재 비밀번호">
                            <input type="password" v-model="form.old_password" placeholder="현재 비밀번호를 입력해주세요." class="base-input" name="old_password">
                        </a-input>
                        <a-input title="새 비밀번호">
                            <input type="password" v-model="form.password" placeholder="새 비밀번호를 입력해주세요." class="base-input" name="password">
                        </a-input>
                        <a-input title="비밀번호 확인">
                            <input type="password" v-model="form.re_password" placeholder="비밀번호 확인을 입력해주세요." class="base-input" name="re_password">
                        </a-input>
                    </div>
                    <div class="settings-footer clearfix">
                        <a @click="modify" href="javascript:;" class="btn btn-yellow">변경</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <account></account>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
import account from '~components/aside-account.vue'
import aInput from '~components/_input.vue'
export default {
    data() {
        return {
            form: {
                old_password: '',
                password: '',
                re_password: ''
            }
        }
    },
    components: {
        aInput,
        account
    },
    methods: {
        async modify() {
            if (!this.form.password || !this.form.old_password || !this.form.re_password) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            } else if (this.form.password !== this.form.re_password) {
                this.$store.dispatch('global/showMsg', '비밀번호 확인과 일치하지 않습니다.')
                return
            }
            const { data: { status, value} } = await api.post('user/password', this.form)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '비밀번호가 변경되었습니다.'
                })
                this.form.old_password = ''
                this.form.password = ''
                this.form.re_password = ''
            }
        }
    },
    mounted() {
        this.$store.dispatch('global/gProgress', 100)
    },
    metaInfo () {
        return {
            title: 'Sky IOT',
            meta: [{ vmid: 'description', name: 'description', content: 'Sky IOT' }]
        }
    }
}
</script>
