<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <div class="article-content">
                        <h3 class="about-title">About the author</h3>
                        <div class="flex-item">
                            <div class="flex-label">Nickname:</div>
                            <div class="flex-content">stkang90</div>
                        </div>
                        <div class="flex-item">
                            <div class="flex-label">Name:</div>
                            <div class="flex-content">강성태 (Kang Sung-tae)</div>
                        </div>
                        <div class="flex-item">
                            <div class="flex-label">Age:</div>
                            <div class="flex-content">1990.03</div>
                        </div>
                        <h3 class="about-title">About the site</h3>
                        <!--<p>本站服务端采用 express + mongoDB 搭建, 客户端采用 Vue2 的服务端渲染搭建</p>
                        <p>网站分成前台和后台, 前台采用 SSR 模式渲染, 后台采用 SPA 模式</p>
                        <p>主要功能包括: 管理员, 用户, 分类, 文章, 评论, 文章点赞</p>
                        <p>主要技术栈: express, mongoose, vue2, vue2-router, vuex, webpack, babel, eslint</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <trending></trending>
        </div>
    </div>
</template>
<script lang="babel">
import trending from '../components/aside-trending.vue'
export default {
    name: 'frontend-index',
    components: {
        trending
    },
    mounted() {
        this.$store.dispatch('global/gProgress', 100)
    },
    metaInfo () {
        return {
            title: 'Sky IOT',
            meta: [{ vmid: 'description', name: 'description', content: 'Sky IOT' }]
        }
    }
}
</script>
<style media="screen">
    .flex-item {
        display: flex;
        margin-bottom: 10px;
    }
    .flex-item .flex-label {
        width: 100px;
        padding: 0 12px;
    }
</style>
