<template>
    <div class="main wrap clearfix">
        <div class="main-left">
            <div class="card card-answer">
                <div class="answer-content">
                    <h1>Arong & Darong - SKY IOT</h1>
                    <frontedCam></frontedCam>
                    <tempHumid></tempHumid>
                </div>
            </div>
        </div>
        <div class="main-right">
            <trending></trending>
        </div>
    </div>
</template>
<script lang="babel">
import trending from '../components/aside-trending.vue'
import frontedCam from '../components/fronted-cam.vue'
import tempHumid from '../components/temp-humid.vue'
export default {
    name: 'frontend-index',
    components: {
        trending,
        frontedCam,
        tempHumid
    },
    mounted() {
        this.$store.dispatch('global/gProgress', 100)
    },
    metaInfo () {
        return {
            title: 'Sky-IOT',
            meta: [{ vmid: 'description', name: 'description', content: 'Sky IOT' }]
        }
    }
}
</script>
