<template>
    <div class="card card-trending">
        <h2 class="card-title">Hot Post</h2>
        <div class="card-content">
            <div v-for="(item, index) in trending" class="trending-item">
                <span class="trending-rank-num">{{ index + 1 }}</span>
                <router-link :to="`/post/${item.id}`" class="trending-title">{{ item.title }}</router-link>
                <div class="trending-meta">
                    <div class="trending-meta-item"><i class="icon icon-action-voteup"></i>{{ item.like_cnt }}</div>
                    <div class="trending-meta-item"><i class="icon icon-action-comment"></i>{{ item.comment_cnt }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="babel">
import { mapGetters } from 'vuex'
const fetchInitialData = async store => {
    store.dispatch('post/posts/getTrending')
}
export default {
    name: 'aside-trending',
    serverCacheKey: () => {
        return `aside::trending`
    },
    computed: {
        ...mapGetters({
            trending: 'post/posts/getTrending'
        })
    },
    mounted() {
        if (this.trending.length <= 0) {
            fetchInitialData(this.$store)
        }
    }
}
</script>
