<template>
    <div class="card card-me">
        <router-link to="/user/account" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>계정 정보</router-link>
        <router-link to="/user/password" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>비밀번호 변경</router-link>
        <router-link to="/user/password" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>로그아웃</router-link>
    </div>
</template>

<script lang="babel">
export default {
    name: 'aside-account',
    serverCacheKey: () => {
        return `aside::account`
    }
}
</script>
