<template>
    <div class="card card-topics">
        <template v-for="item in category">
            <router-link :to="`/posts/category/${item.id}`" class="topic-item clearfix"><span class="avatar-link"><img src="/static/images/topic-1.png" class="avatar-image"></span>
                <h3 class="topic-title">{{ item.name }}</h3>
                <p class="topic-meta">{{ item.post_cnt || 0 }} Post</p><i class="icon icon-arrow-right"></i>
            </router-link>
        </template>
    </div>
</template>
<script lang="babel">
import { mapGetters } from 'vuex'
const fetchInitialData = async store => {
    store.dispatch('post/category/getList')
}
export default {
    name: 'aside-category',
    serverCacheKey: () => {
        return `aside::category`
    },
    computed: {
        ...mapGetters({
            category: 'post/category/getList',
        })
    },
    mounted() {
        if (this.category.length <= 0) {
            fetchInitialData(this.$store)
        }
    }
}
</script>
