<template>
    <div>
        <img src="http://192.168.100.101:8080/stream/video.mjpeg" width="80%" alt="image">
    </div>
</template>
<script lang="babel">

export default {
    name: 'fronted-cam'
}
</script>
