<template>
    <div class="card">
        <div class="comments">
            <div class="comment-post-wrap"> <img src="http://ww2.sinaimg.cn/large/005uQRNCgw1f4ij3d8m05j301s01smwx.jpg" alt="" class="avatar-img">
                <div class="comment-post-input-wrap base-textarea-wrap">
                    <textarea v-model="form.content" id="content" class="textarea-input base-input" cols="30" rows="4"></textarea>
                </div>
                <div class="comment-post-actions clearfix">
                    <a @click="postComment" href="javascript:;" class="btn btn-blue">댓글</a>
                </div>
            </div>
            <div class="comment-items-wrap">
                <div v-for="item in comments.data" class="comment-item">
                    <a href="javascript:;" class="comment-author-avatar-link">
                        <img src="http://ww2.sinaimg.cn/large/005uQRNCgw1f4ij3d8m05j301s01smwx.jpg" alt="" class="avatar-img">
                    </a>
                    <div class="comment-content-wrap">
                        <span class="comment-author-wrap">
                            <a @click="reply(item)" href="javascript:;" class="comment-author">{{ item.nickname }}</a>
                        </span>
                        <div class="comment-content" v-text="item.content"></div>
                        <div class="comment-footer">
                            <span class="comment-time" v-text="item.crt_dt"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="comments.hasNext" class="load-more-wrap">
                <a @click="loadcomment()" href="javascript:;" class="comments-load-more">더보기</a>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
export default {
    props: ['comments'],
    data () {
        return {
            form: {
                content: ''
            }
        }
    },
    methods: {
        loadcomment() {
            this.$store.dispatch(`post/comment/get`, {
                page: this.comments.page + 1,
                limit: 10
            })
        },
        async postComment() {
            if (!api.isLogin()) {
                this.$store.dispatch('global/showMsg', '로그인 해주세요!')
                this.$store.commit('global/showLoginModal', true)
            } else if (this.form.content === '') {
                this.$store.dispatch('global/showMsg', '댓글 내용을 입력해주세요!')
            } else {
                const { data: { status, value }} = await api.post('post/comment/' + this.$route.params.id, this.form)
                if (status === 200 && value) {
                    this.form.content = ''
                    this.$store.dispatch('global/showMsg', {
                        content: '댓글을 등록했습니다!',
                        type: 'success'
                    })
                    this.$store.commit('global/comment/_insert', value)
                }
            }
        },
        reply(item) {
            this.form.content = '@'+ item.nickname + ': '
            document.querySelector("#content").focus()
        }
    }
}
</script>
