<template>
    <nav class="global-nav">
        <div class="wrap clearfix">
            <div class="left-part">
                <router-link to="/" active-class="current" exact class="logo-link"><span class="text">Sky IOT</span></router-link>
                <div class="main-nav">
                    <router-link to="/" active-class="current" exact class="nav-link"><i class="icon icon-nav-home"></i><span class="text">Home</span></router-link>
                    <router-link to="/posts" active-class="current" class="nav-link"><i class="icon icon-nav-features"></i><span class="text">Posts</span></router-link>
                    <router-link to="/about" active-class="current" class="nav-link"><i class="icon icon-nav-explore"></i><span class="text">About</span></router-link>
                </div>
            </div>
            <div class="right-part">
                <!--<span class="nav-search"><i class="icon icon-search-white"></i><input @keyup.enter="search($event)" placeholder="" class="nav-search-input"></span>-->
                <span v-if="isLogin" class="nav-me"><router-link to="/user/account" class="nav-me-link"><img src="http://ww2.sinaimg.cn/large/005uQRNCgw1f4ij3d8m05j301s01smwx.jpg" class="nav-avatar-img"></router-link></span>
                <span v-else class="nav-me"><a @click="login" href="javascript:;" class="nav-me-link">로그인</a></span>
            </div>
        </div>
    </nav>
</template>

<script lang="babel">
import api from '~api'
export default {
    data() {
        return {
            isLogin: api.isLogin()
        }
    },
    methods: {
        login() {
            this.$store.commit('global/showLoginModal', true)
        }
        /*,
        search(e) {
            var qs = e.target.value
            if (qs === "") {
                return false
            }
            this.$router.replace('/search/' + qs)
        }*/
    }
}
</script>
