<template>
    <div class="card card-me">
        <router-link to="/admin/post/category/list" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>카테고리 관리</router-link>
        <router-link to="/admin/post/insert" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>포스트 추가</router-link>
        <router-link to="/admin/post/list" active-class="active" class="side-entry"><i class="icon icon-arrow-right"></i><i class="icon icon-articles"></i>포스트 목록</router-link>
    </div>
</template>

<script lang="babel">
export default {
    name: 'post-menu',
    serverCacheKey: () => {
        return `post::menu`
    }
}
</script>
