<template>
    <div class="modal-wrap modal-signup-wrap" :class="show ? 'active' : ''"><span class="center-helper"></span>
        <div class="modal modal-signup">
            <h2 class="modal-title">회원가입</h2><a @click="close" href="javascript:;" class="modal-close"><i class="icon icon-close-black"></i></a>
            <div class="modal-content">
                <div class="signup-form">
                    <div class="input-wrap">
                        <input v-model="form.nickname" type="text" placeholder="별명" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <div class="input-wrap">
                        <input v-model="form.email" type="text" placeholder="이메일" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <div class="input-wrap">
                        <input v-model="form.password" type="password" placeholder="비밀번호" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <div class="input-wrap">
                        <input v-model="form.re_password" type="password" placeholder="비밀번호 확인" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <a @click="register" href="javascript:;" class="btn signup-btn btn-yellow">등록</a>
                    <a @click="login" href="javascript:;" class="btn signup-btn btn-blue">로그인</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
import { strlen } from '~utils'

export default {
    props: ['show'],
    data() {
        return {
            form: {
                nickname: '',
                email: '',
                password: '',
                re_password: ''
            }
        }
    },
    methods: {
        close() {
            this.$store.commit('global/showRegisterModal', false)
        },
        login() {
            this.$store.commit('global/showLoginModal', true)
            this.$store.commit('global/showRegisterModal', false)
        },
        async register() {
            if (!this.form.nickname || !this.form.password || !this.form.email) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            } else if (strlen(this.form.nickname) < 4) {
                this.$store.dispatch('global/showMsg', '아이디는 4글자 이상 입력해주세요.')
                return
            } else if (strlen(this.form.password) < 6) {
                this.$store.dispatch('global/showMsg', '비밀번호를 6글자 이상 입력해주세요.')
                return
            } else if (this.form.password !== this.form.re_password) {
                this.$store.dispatch('global/showMsg', '비밀번호 확인과 일치하지 않습니다.')
                return
            }
            const { data: { status, value} } = await api.post('user', this.form)
            if (status === 200 && value) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: '회원가입에 성공하였습니다!'
                })
                this.login()
            }
        }
    }
}
</script>
