<template>
    <div class="modal-wrap modal-signin-wrap" :class="show ? 'active' : ''"><span class="center-helper"></span>
        <div class="modal modal-signup">
            <h2 class="modal-title">로그인</h2><a @click="close" href="javascript:;" class="modal-close"><i class="icon icon-close-black"></i></a>
            <div class="modal-content">
                <div class="signup-form">
                    <div class="input-wrap">
                        <input v-model="form.username" type="text" placeholder="닉네임 또는 이메일" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <div class="input-wrap">
                        <input v-model="form.password" type="password" placeholder="비밀번호" class="base-input">
                        <p class="error-info input-info hidden">6글자 이상 입력해주세요.</p>
                    </div>
                    <a @click="login" href="javascript:;" class="btn signup-btn btn-yellow">로그인</a>
                    <a @click="register" href="javascript:;" class="btn signup-btn btn-blue">새로 등록</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
import api from '~api'
export default {
    props: ['show'],
    data() {
        return {
            form: {
                username: '',
                password: ''
            }
        }
    },
    methods: {
        close() {
            this.$store.commit('global/showLoginModal', false)
        },
        register() {
            this.$store.commit('global/showLoginModal', false)
            this.$store.commit('global/showRegisterModal', true)
        },
        async login() {
            if (!this.form.username || !this.form.password) {
                this.$store.dispatch('global/showMsg', '전체 항목을 입력해주세요!')
                return
            }
            const { data } = await api.login(this.form)
            if (data && data.status === 200) {
                this.$store.dispatch('global/showMsg', {
                    type: 'success',
                    content: 'Login Success'
                })
                this.$router.go(0)
            }
        }
    }
}
</script>
