<template>
    <div>
        <highcharts :options="tempOptions" ref="highcharts"></highcharts>
    </div>
</template>
<script lang="babel">

import Vue from 'vue'
import { mapGetters } from 'vuex'
import api from '~api'
import VueHighcharts from 'vue-highcharts'
import Highcharts from 'highcharts'
const CHART_MAX_COUNT = 15
Vue.use(VueHighcharts)
Highcharts.setOptions({
    global: {
        useUTC: false
    }
})
function addChart(chart, x, y) {
    chart.addPoint([x, y], true, chart.data.length > CHART_MAX_COUNT-1)
}
function addTempHumid(temperature, humidity, item) {
    let added = false
    const tempData = temperature.data
    if(tempData.length > 0){
        if(tempData[tempData.length-1].x < item.crt_dt) {
            addChart(temperature, item.crt_dt, item.temperature)
            added = true
        }
    }else{
        addChart(temperature, item.crt_dt, item.temperature)
        added = true
    }
    const humidData = humidity.data
    if(humidData.length > 0){
        if(humidData[humidData.length-1].x < item.crt_dt) {
            addChart(humidity, item.crt_dt, item.humidity)
            added = true
        }
    }else{
        addChart(humidity, item.crt_dt, item.humidity)
        added = true
    }
    return added
}
const fetchInitialData = async (store, series) => {
    if (store.state.status.lists.length <= 0) {
        await store.dispatch('status/get')
    }
    const temperature = series[0]
    const humidity = series[1]
    store.state.status.lists.forEach(function (item) {
        addTempHumid(temperature, humidity, item)
    })
    const refresh = setInterval(async function () {
        const { data: { status, value} } = await api.get('status/temp_humid/recent')
        if (status === 200 && value) {
            for(let i = 0; i < value.length; i++){
                const item = value[i]
                try {
                    if(addTempHumid(temperature, humidity, item)){
                        store.state.status.lists.push(item)
                    }
                }
                catch(exception){
                    clearInterval(refresh)
                }
            }
            if(store.state.status.lists.length > CHART_MAX_COUNT){
                store.state.status.lists.splice(CHART_MAX_COUNT-1, store.state.status.lists.length - CHART_MAX_COUNT)
            }
        }
    }, 10000)
}
export default {
    name: 'temp-humid',
    data() {
        return {
            recent:{
                temperature : 0,
                humidity: 0
            },
            tempOptions: {
                background2: '#E0E0E8',
                title: {
                    text: 'Temperature & Humidity'
                },
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg,
                    backgroundColor: null,
                    height: 250
                },
                colors: ['#f45b5b', '#8085e9', '#8d4654', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                    '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Temperature & Humidity'
                    }
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                    shared: true
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Temperature',
                    data: []
                },{
                    name: 'Humidity',
                    data: []
                }]
            }
        }
    },
    computed: {
        ...mapGetters({
            status : 'status/get'
        })
    },
    mounted() {
        const { chart } = this.$refs.highcharts
        fetchInitialData(this.$store, chart.series)
    }
}
</script>
