<template>
    <div class="card feed">
        <div class="feed-content"> <span class="feed-time">{{ item.crt_dt | timeAgo }}</span><span class="feed-source">Category <router-link :to="'/posts/category/' + item.category_name" v-text="item.category_name" class="feed-minor-link"></router-link></span>
            <div class="feed-main-link-wrap"><router-link :to="'/post/' + item.id" v-text="item.title" class="feed-main-link"></router-link></div>
            <div class="feed-desc-wrap">
                <div class="feed-article-content markdown-body" v-text="item.content"></div>
            </div>
        </div>
        <actions :item="item"></actions>
    </div>
</template>
<script lang="babel">
import actions from './item-actions.vue'
export default {
    name: 'index-item',
    serverCacheKey: props => {
        return `frontend::topics::item::${props.item.id}`
    },
    props: ['item'],
    data () {
        return {
            showMore: false
        }
    },
    components: {
        actions
    }
}
</script>
